<div class="container__big__card">
  <div class="container__content__big__card">
    <div class="content__description__big__card">
      <div class="info__big__card">
        <h3>WELCOME TO MY BLOG</h3>
      </div>
      <div class="title__big__card">
        <h1>The first blog by a dev posted on Git</h1>
      </div>
      <div class="description__big__card">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus quidem incidunt, quia perspiciatis consectetur ipsa? </p>
      </div>

    </div>
    <div class="subscribe__big__card">
      <input type="text" placeholder="Email">
      <button type="button">Subscribe</button>
    </div>
  </div>
  <div class="img__big__card">
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4AjoGZl0X_ii6Vj96JlKrDw_u--5hiYWm3A&usqp=CAU" alt="" srcset="">
  </div>

</div>
