.container__small__card{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.952);
  //box-shadow: 3px 0px 26px 0px rgba(0,0,0,0.75);
  border: 2px solid rgba(128, 128, 128, 0.363);
  padding: 15px;
  margin-bottom: 5px;
}

.img_small__card > img{
  width: 100%;
  height: 150px;
  min-height: 150px;
}

.title__small__card > h1{
  margin-top: 10px;
  font-size: 25px;
}

.description__small__card > p {
  color: gray;
  margin-top: 10px;
}