
.container__home{
  width: 85%;
  margin-left: 60px;
}

.controller__notice__home{
  display: flex;
  justify-content: space-between;

}

.small__card__home > app-small-card{
  display: flex;

}
.small__card__home > app-small-card > .container__small__card:not(:first-child) {
  margin: 0 0 0 10px;
}